body {
    margin: 0 auto;
}

#bodyhtml{
    width: 100%;
    height: 90%;
    font-family: 'Montserrat', sans-serif;
    background: url(tlo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#btn{
    font-weight: 300;
    border-radius: 200px;
    text-transform: uppercase;
    background-color: #ee4b08;
    border-color: #ee4b08;
    padding: 1rem 2rem;
}

#bodyhtml2{
    width: 100%;
    height: 92%;
    font-family: 'Montserrat', sans-serif;
    background: url(tlo2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h1about{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#h3about{
    margin-top: 5rem;
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

#pabout{
    margin-left: 2rem;
    color:white;
}

.container-about{
    background-color: white;
    height: 100vh;
    display: flex;
    border:1px solid #bbb;
} 

.container-contact{
    background-color: black;
    height: 25vh;
    display: flex;
    border:1px solid #bbb;
} 

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#social{
    color: white;
}

.h2{
    color: white;
    text-align: center;
}

#h3{
    color: white;
}

.row{
    margin-top: 5rem;
}

#btnsend{
    background-color: white;
}

.zone {
    /*padding:30px 50px;*/
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.box {
    background-color: white;
    padding: 25px;
    margin: 25px;
}